asgiref==3.5.2
django-cors-headers==3.14.0
Django==4.1.7
dj-database-url==0.5.0
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
gunicorn==20.1.0
imap-tools==0.56.0
Jinja2==3.0.3
pillow
psycopg2-binary==2.9.3
python-decouple==3.5
python-dotenv==1.0.0
requests==2.27.1
stripe==2.63.0
xmltodict==0.12.0
